{{{t 'tax_assessment.assessment_caption'}}}

<div class="form-label-float">
  {{input value=formValue width=question.settings.width
          placeholder=placeholder
          key-press="keyPress" focus-out="enteredText"
          id=inputId
          class="form-control form-input-float" }}

  <span class="form-icon-float">$</span>
</div>
