/* clearfixes for wraparound columns (to work with the 'col-clearfixed' handlebars helper) */

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .col-xs-clearfix {
        clear: both;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px ) {
    .col-sm-clearfix {
      clear: both;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    .col-md-clearfix {
      clear: both;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .col-lg-clearfix {
      clear: both;
    }
}

