<div class="container signon">
  <div class="row special" id="row1">

    <div class="hidden-xs col-md-1 col-lg-1">

    </div>

    <div class="col-xs-12 col-sm-7 col-md-5 col-lg-5">

      <div id="signup-page-text">
        <p><img src="/images/landing.png" alt="Ethelo: Better Decisions through Collective Intelligence"/></p>
     </div>
    </div>

    <div class="hidden-xs col-md-1"></div>

    <div class="col-xs-12 col-sm-5 col-md-4">
      {{auth/request-password-form}}
    </div>
  </div>

  <div class=".hidden-xs col-md-1 col-lg-1">
    &nbsp;
  </div>
</div>


