<div class="modal fade" id="sign-out-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="sign-out-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <span class="h4 text-center">{{tool/loading-spinner loadingText="Signing out...Please wait..."}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{t 'navigation.close'}}</button>
      </div> --}}
        </div>
    </div>
</div>