<div class="support-distribution">
  <div class="points-container"></div>
  <div class="distribution-captions">
    <span class="distribution-caption">
      {{t leftKey}}
    </span>

    <span class="distribution-caption">
      {{t neutralKey}}
    </span>

    <span class="distribution-caption">
      {{t rightKey}}
    </span>
  </div>
</div>

