<!-- Always show for tablet/mobile -->

<div class="container-fluid bottom-nav-buttons">
      <div class="row inner">
         <div class="col-xs-6 col-sm-6 col-md-6">
           {{left-sidebar/back-button}}
         </div>
         <div class="col-xs-6 col-sm-6 col-md-6">
           {{#unless hideNext}}
             {{right-sidebar/next-button}}
           {{/unless}}
         </div>
      </div>
</div>
