{{#bootstrap/bootstrap-collapse
  beginCollapsed=false
  title=(t 'authentication.login_panel.joined_title' default='empty_default')
  panelId=panelId
}}
  <div>
    <p>
      {{{t 'authentication.login_panel.joined_content_html' default='empty_default'}}}
    </p>
  </div>
{{/bootstrap/bootstrap-collapse}}