{{#if menu.previousPage}}
  <a href="#" {{action 'goToPreviousPage' target=menu}}
     class="navigation-button btn-lg btn-block btn btn-default btn-raised"
     >
    {{t 'navigation.back'}}
  </a>
{{/if}}