<div class="modal fade" id="demo-modal"
     tabindex="-1" role="dialog"
     aria-labelledby="demo-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        {{{t 'authentication.demo_mode_html'}}}
      </div>
      <div class="modal-footer">
        <button tabindex="-1" type="button" class="btn btn-secondary" data-dismiss="modal">{{t 'navigation.close'}}</button>
      </div>
    </div>
  </div>
</div>