<div class="hub-item" id="{{format-html-id 'hi' page.id}}">
  <div class="panel issue-button">
    <div class="panel-body">
      <h3>
        {{page.titleContent}}
      </h3>
      {{#if page.icon}}
        <img src="{{page.icon}}" />
      {{/if}}
    </div>
  </div>
</div>