<button {{action 'scrollTop'}} class="navigation-button btn btn-raised btn-default" >
  <i class="material-icons pull-right keyboard-arrow-up">keyboard_arrow_up</i>
  <div>
    {{t 'navigation.top'}}
  </div>
</button>