<div class="container-fluid" id="error-page">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="alert alert-warning" role="alert">
              <strong>{{model.title}}</strong>. {{model.message}}.
            </div>
        </div>
    </div>
</div>
