<div class="container">
  <div class="row">
    <div class="col-md-12 panel-group">
      <div class="panel panel-default text-center">
        <h3>{{t 'unsubscribe.successMessage'}}</h3>

        <p class="h5">
          {{t 'unsubscribe.messageDetails'}}
        </p>
      </div>
    </div>
  </div>
</div>
